.login {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.login__logoText {
    font-size: 28px;
    font-weight: 800;
    color: #131921;
    letter-spacing: -1px;
}

.login__domain {
    font-size: 14px;
    font-weight: 600;
    color: #febd69;
    /* Amazon/EasyShop orange or similar */
}

.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: #fff;
}

.login__container>h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container>form>h5 {
    margin-bottom: 5px;
}

.login__container>form>input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    padding-left: 5px;
}

.login__container>p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
    cursor: pointer;
    background: #e7e9ec;
}