.orders {
    padding: 40px;
    background-color: white;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders__confirmation {
    margin: 20px 0;
}

.orders__continueButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    font-weight: bold;
}

.orders__trackingButton {
    background: #e7e9ec;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 10px;
    border-color: darkgray;
    color: #111;
    cursor: pointer;
    font-weight: bold;
}

.orders__summary {
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
    width: 80%;
    margin-top: 20px;
}

.orders__id {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.orders__total {
    text-align: right;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

.orders__actions {
    margin-top: 20px;
    display: flex;
}